{{ form_start(form, {'action': path('admin.pictures.update', {id: picture.id}), 'method': 'PUT'}) }}
<div class="modal-body">
    <div class="form-group">
        {{ form_row(form.name) }}
    </div>
    <div class="form-group">
        {{ form_row(form.branches) }}
    </div>
    <div class="form-group">
        {{ form_row(form.keywords) }}
    </div>
    <div class="form-group">
        {{ form_row(form.copyright) }}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light-secondary" data-dismiss="modal">
        <span class="d-none d-sm-block">Annuler</span>
    </button>
    <button type="submit" class="btn btn-primary ml-1">
        <span class="d-none d-sm-block">Modifier</span>
    </button>
</div>
{{ form_end(form) }}
